@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

html, body {
  background: url(asset_path('sergio-souza-1386770-unsplash.jpg')) center no-repeat fixed;
  background-size: cover;
}
p {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-shadow: none;
}
p a {
  color: rgb(200,0,0);
  text-decoration: none;
}
p a:hover {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
h2 {
  color: black;
  text-shadow: none;
}
.profile {
    width: 200px;
    border: solid 2px black;
}
.learn {
  float: left;
  margin: 0px 0px 20px 0px;
}
.clear {
  clear: both;
}
.slogan {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: auto;
  height: 50px;
  margin: 10px 50px 10px 50px;
  padding: 10px;
  color: grey;
  background-color: white;
}
.interact {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  width: auto;
  height: 50px;
  margin: 10px 50px 10px 50px;
  padding: 10px;
  color: grey;
  background-color: white;
}
.interact a {
  color: grey;
  text-decoration: none;
}
.interact a:hover {
  color: grey;
  font-weight: 700;
  text-decoration: none;
}
.wrapper {
  box-sizing: initial;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}
.col {
  background-color: transparent;
}
.col-6, .col-12 {
  padding: 0px;
}
.modal-content {
  width: auto;
  padding: 20px;
  white-space: nowrap;
}
.content{
  height: 100%;
  padding: 10% 20px 20px 20px;
  background-color: rgba(255, 255, 255, .5);
}
.content_border {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  width: inherit;
  height: inherit;
  display: block;
  margin: 50px;
  border: solid 10px white;
}
.bg_link {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 5;
}
.unsplash {
  float: right;
  background-color: white;
  color: grey;
  text-decoration: none;
  margin: 10px;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 0px;
}
.idiom {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 25%;
  padding: 20px;
  z-index: 1;
  color: white;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}
.next_idiom {
  color: white;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 1% 1%;
  z-index: 1;
}
.next_idiom:hover {
  font-weight: 700;
}
.logo {
  background: url(asset_path('idiomism.svg')) right no-repeat;
  background-size: 40%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0 0 5% 0;
  z-index: 1;
}
.btn-sm {
  float: right;
  border: 0px;
  border-radius: 0px;
  color: white;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  background-color: transparent;
}
.btn-sm:hover {
  color: white;
  font-weight: 700;
  background-color: transparent;
}
.footer-blurb a {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0px 0px 15px 50px;
  padding: 0px;
  width: auto;
  color: rgb(200,0,0);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  z-index: 10;
}
.footer-blurb a:hover {
  color: black;
  text-decoration: none;
}
.alert {
  color: white;
  border: 0px;
  background-color: rgb(200,0,0);
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-shadow: none;
}
a {
  color: white;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 750px) {
  .idiom {
    font-size: 30px;
    line-height: 30px;
  }
  .slogan, .interact {
    font-size: 10px;
    height: 30px;
  }
  .slogan {
    margin: 30px 50px 10px 50px;
  }
  .interact {
    margin: 10px 50px 30px 50px;
  }
}
@media (min-width: 576px) {
  .modal-sm {
      max-width: 350px;
  }
}